body{
    background-color: rgb(3, 0, 22);
    font-family: sans-serif;
    color: azure;
    margin: 0;    
    font-size:50px;
}
*{
    text-decoration: none;
}
.navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: relative;
    padding-left:5px ;
    padding-right:5px ;
    background-color: rgb(128, 0, 255);
    width: 100%;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.logo{
    padding-left: 45px;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color:white;
}
.boxone{
    list-style: none;
    font-size: 22px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}
.two{
    display: inline-block;
    height: 0%;
    width: auto;
    left: 5px;
}
.heading{
    display: inline-block;
    height: 100px;
    width: 60%;
    margin-left: 80px;
    text-align: justify;
}
h1{
    padding-bottom: 10px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

img{
    display:inline-block;
    margin-left: 50px;
    padding-top: 130px;
    max-width: 300px;
}
 h3{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left:50px ;
}
.asg{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:50px ;
    
}
.ask{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:50px ;   
}

.ten{
    color: azure;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:50px ;
}
.dula {
    color: azure;
    display: block;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:50px ;
}
.link
{
    display: inline-block;
    margin-top: -35px;    
}
.icon{
    float: left;
    width: 30px;
    margin-left: 60px;
    margin-top: -110px;
    
}
.contact,.skills,.education,.project,.certification{
    font-weight: bold;
    padding-left: 50px;
    font-size: 30px;
    display: block;
    margin-top: 50px;
}

.cid{
    font-size: 18px;
    padding-left: 50px;  
    color: white;
}

.certificationbox :hover{
    color: rgb(0, 110, 255);
} 
.contact{
    height: 50px;
}
.boxskills{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}
.sk{
    margin-left:50px; 
    float: left;  
}
.ski{
    margin-left: 50px;
    float: left;
}
.degree{
    font-size:30px;
}
.Ed,.projectbox{
    margin-left: 50px;
}

.projectitle{
    font-weight: bolder;
    font-size: 20px;
}
.projectinfo{
    font-style: italic;
    font-size: 15px;

}
.end{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bottom-line{
    margin-top: 65px;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 1300px;
}
.resume {
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 20px;
}
.resume a{
    color: aliceblue;
    text-decoration: underline;
    cursor: pointer;
}
.resume :hover{
    color: rgb(0, 225, 255);
}
